.content_area{
    padding: 20px 20px;
}
.content_area .box{
    width:100%;
    height: auto;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    background: rgb(30,164,88);
    background: linear-gradient(118deg, rgba(30,164,88,1) 0%, rgba(70,210,129,1) 100%);
    
}

.content_area .box img{
    width:40%;
    opacity: 0.15;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.box .boxIcon1{
    float: right !important;
    font-size: 45px;
    color: #eeeeee;
}


.box h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color:#fff;
   
}

.box h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.box p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top:10px;
    font-weight: 600;
}


.box1{
    width:100%;
    height: auto;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    background: rgb(212, 7, 212);
    background: linear-gradient(118deg, rgb(189, 1, 196) 0%, rgb(243, 86, 230) 100%);
}

.content_area .box1 img{
    width:40%;
    opacity: 0.15;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.box1 .boxIcon1{
    float: right !important;
    font-size: 45px;
    color: #eeeeee;
}


.box1 h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color:#fff;
   
}

.box1 h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.box1 p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top:10px;
    font-weight: 600;
}

.box2{
    width:100%;
    height: auto;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    background: blue;
    background: linear-gradient(118deg, #4e51f3 0%, blue 100%);
    color: #fff;
}

.box2 h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.box2 p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top:10px;
    font-weight: 600;
}
.MuiChartsLegend-root text{
    fill: #fff !important;
}

.row2 .box{
    width:100%;
    height: auto;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    background: #2E7AE5;
    background: linear-gradient(118deg, #2E7AE5 0%, #67b0f5 100%);
    color: #fff;
}

.row2 .box1{
    width:100%;
    height: auto;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    background: #E1960F;
    background: linear-gradient(118deg, #E1960F 0%, #F2CB28 100%);
    color: #fff;
}

.card h3{
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
    
}

.card h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 10px;
    margin-bottom: -5px;
    margin-top:15px;
}

.card .selectBox{
    width:100%;
    cursor: pointer;
}

.Table thead th{
    background-color: black !important;
    color: #fff;
}

.Table img{
    width:25%;
}

.Table .cont h4{
    font-weight: 600;
}
.Table .cont span{
    margin-left:10px;
}

.Table .cont{
    margin-left: 10px;
    margin-top: -5px;
}

.Table .icon1{
    background-color: #EBCEF0;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    color: rgb(235, 2, 215);
    margin-right:5px;
}

.Table .icon2{
    background-color: #C7E2D3;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    color: green;
    margin-right:5px;
}


.Table .icon3{
    background-color: #F2C5CC;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    color:red;
    margin-right:5px;
}

.Table .price{
    color: red;
    
}

.css-1l5xwdx-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: blue !important;
    color : #fff !important;
}