body.light .header_area{
    background-color: #fff;
    padding:10px 20px;
    width:100%;
    position: fixed;
    z-index: 99999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body.dark .header_area{
    background-color: #071739;
    padding:10px 20px;
    width:100%;
    position: fixed;
    z-index: 99999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header_area img{
    width:15%;
}

body.light .header_area .logo_brand{
    font-size:25px;
    font-weight: 700;
    line-height: 35px;
    cursor: pointer; 
    margin-left:10px;
    color: #071739;
}

body.dark .header_area .logo_brand{
    font-size:25px;
    font-weight: 700;
    line-height: 35px;
    cursor: pointer; 
    margin-left:10px;
    color: #fff;
}

.header_area .srcIcon{
    margin-right: -30px;
    z-index: 99;
    margin-left:30px;
}


.header_area input{
    background-color: #F0F5FF;
    padding:10px 40px;
    border-radius: 8px;
    width: 450px !important;
    border:none;
    outline:none;
}

body.light .header_area .css-1umw9bq-MuiSvgIcon-root{
    background: #F0F5FF !important;
    padding: 15px !important;
    border-radius: 50%;
    width:50px;
    height:50px;
    fill:  #000;
    margin-right: 20px !important;
}
body.dark .header_area .css-1umw9bq-MuiSvgIcon-root{
    background: #fff !important;
    padding: 15px !important;
    border-radius: 50%;
    width:50px;
    height:50px;
    fill:  navy;
    margin-right: 20px !important;
}
body.light .header_area .name{
    font-size:18px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 15px;
    margin-top:15px;
}

body.dark .header_area .name{
    font-size:18px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 15px;
    margin-top:15px;
    color: #fff;
}
.header_area .userBox{
    background-color: transparent !important;
    border:none;
    outline: none;
}
body.light .header_area .userBox img{
    width:50px;
    height: 50px;
    border:2px solid blue;
    padding: 3px;
    border-radius: 100%;
}
body.dark .header_area .userBox img{
    width:50px;
    height: 50px;
    border:2px solid #ebeaea;
    padding: 3px;
    border-radius: 100%;
}
body.light .header_area .userBox .user{
    font-size:14px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(156, 151, 151);
    margin-top: -15px;
    margin-left: -15px;
}

body.dark .header_area .userBox .user{
    font-size:14px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(226, 226, 226);
    margin-top: -15px;
    margin-left: -15px;
}

.header_area .ibtn{
    border:none !important;
    background-color: transparent !important;
    outline: none !important;
    cursor: pointer !important;
}

 .css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root{
    font-size:14px !important;
    line-height: 30px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 10px !important;
}

.MuiList-root h4{
    font-size:14px !important;
    margin-left:15px;
    margin-top:15px;
    font-weight: 600;
}

.MuiList-root .MuiMenuItem-root img{
    width:15% !important;
    margin-right: 10px;
    border:2px solid blue;
    border-radius: 100%;
    padding: 3px;
}

.muibox{
    background-color: rgba(0, 0, 255, 0.089);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    width:300px !important;
    margin:0px !important;
}

.MuiPaper-root{
    padding:0px 5px !important;

}

 .css-ihowzd-MuiBadge-badge{
    top:10px !important;
    right:30px !important;
    background: blue !important;
}



body.light .btn-signup{
    background-color: blue;
    color: #fff;
    padding: 10px 65px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border:2px solid blue;
    transition: all 0.5s ease;
}
body.dark .btn-signup{
    background-color: #fff;
    color: #000;
    padding: 10px 65px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border:2px solid #fff;
    transition: all 0.5s ease;
}
body.light .btn-signup:hover{
    background-color: transparent;
    color: #000;
    border:2px solid #fff;
}
body.dark .btn-signup:hover{
    background-color: transparent;
    color: #fff;
    border:2px solid ;
}
body.light .btn-signup i{
    transition: all 0.3s ease;
}
body.light .btn-signup:hover i{
    transform: rotate(-45deg);
    color: blue;
}

body.dark .btn-signup:hover i{
    transform: rotate(-45deg);
    color: #fff;
}


