@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
  --primary: #1336fc;
  --secondary: #8f9ffdf1;
  --white: #fff;
  --text: #000;
  --gray_text: rgba(0,0,0,0.6);
  --background: #DEFFF0;
}

*{
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body.light{
  font-family: "Lato", sans-serif;
  background-color: #faf5f5;
}

body.dark{
  font-family: "Lato", sans-serif;
  background-color: #071739;
}
a{
  text-decoration: none;
}

.container-fluid{
  padding: 0px 120px;
}


.main .sidebarWrapper{
  width:20%;
 flex: 0 0 20%;
 transition: all 0.3s ease-in-out;
  
}
.main .sidebarWrapper.toggle{
  width:0%;
  flex: 0 0 0%;
}
.main .sidebarWrapper.toggle .sidebar{
  width:0%;
  left:-100%;

}
body.light .main .sidebarWrapper .sidebar{
  width:20%;
  background-color: #fff;
  padding: 120px 30px 80px 30px;
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.15) 0.4px 0 3.2px;
  overflow-y: scroll;
  transition: all 0.5s ease;

}

body.dark .main .sidebarWrapper .sidebar{
  width:20%;
  background-color: #1B2B4D;
  padding: 120px 30px 80px 30px !important;
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.15) 0.4px 0 3.2px;
  overflow-y: scroll;
  transition: all 0.5s ease;

}


.main .sidebarWrapper .sidebar::-webkit-scrollbar{
  background-color: transparent;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.25) /* Color of the track */
}

body.light .main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, 0.425); /* Color of the scrollbar */
  border-radius: 5px; /* Rounded corners */
}

body.dark .main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(194, 194, 247, 0.425); /* Color of the scrollbar */
  border-radius: 5px; /* Rounded corners */
}


.main .content{
  width:80%;
  flex: 0 0 80%;
  transition: all 0.3s ease;
  overflow: hidden;
  height: auto;
}

.main .content .mycontent{
  width:100%;
  height: 100vh;
  margin-top:100px;
  overflow-y: scroll;
  transition: all 0.3s ease;
  
}

.main .content.toggle{
  width:100%;
  flex: 0 0 100%;
}

.main .content .login_section{
  width:100%;
  height: 100vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
 
}

.main .content.full{
  max-width: 100%;
  width: 100%;
  flex: 0 0 100%;
}

.main .content.full .login_section{
  width: 100%;
  z-index: 100;
  position: relative;
  background-color: rgba(255,255,255,0.55);
}

.main .content .login_pattern{
  width:100%;
  height: 100vh;
  opacity: 0.085;
  position: fixed;
  top:0;
  left:0;
  z-index: 99;

}

.main .content .signup_section{
  width: 100%;
  z-index: 100;
  position: relative;
  background-color: rgba(255,255,255,0.55);

}