@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
  --primary: #1336fc;
  --secondary: #8f9ffdf1;
  --white: #fff;
  --text: #000;
  --gray_text: rgba(0,0,0,0.6);
  --background: #DEFFF0;
}

*{
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
}
a{
  text-decoration: none;
}

.container-fluid{
  padding: 0px 120px;
}